body, 
* {
    margin: 0;
    padding: 0;
}

header {
    
}

.header__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    background: #590e5d;
}

.header__title {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: 800;
    color: #fff;
    text-align: center;


}

.menu__list {
    display: flex;
    list-style-type: none;
    
}

.header__menu a {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    margin-right: 30px;
}

.header__menu a:hover {
    color: #f989ff;
}

@media (max-width: 800px) {

    .header__menu {
        width: 300px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #96099e;  
    }

    .menu__list {
        display: block;
        text-align: center;
 

    }
    
    .header__menu a {
        font-size: 30px;
        margin-right: 0;
    }

}