body, 
* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}


.header__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #590e5d;
    padding: 30px;
}

.header__title {
    font-size: 30px;
    font-weight: 800;
    color: #fff;
    text-align: center;
}

.menu__list {
    display: flex;
    list-style-type: none;

}




.menu__list a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

.menu__list a:hover {
    color: #f989ff;
}

.menu__links {
    margin-right: 30px;
}

.menu__links:last-child{
    margin-right: 0px;
}

@media (max-width: 800px) {

    .header__block {
        padding: 0 0 0 20px;
    }

    .header__menu {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 100%;
        background-color: #96099e;  
    }

    .menu__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .menu__links {
        margin-right: 0;
        padding: 20px;
    }

    .header__menu a {
        font-size: 20px;
        margin-right: 0;
    }

}