body {
    background: #fff;
    height: 100%;
    margin: 0 auto;
}

*, *::after, *::before {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #F8E0FB;
}

.navHeader a {
    text-decoration: none;
    color: black;
    font-family: 'Space Grotesk';
    font-size: 16px;
    font-weight: 500;
    opacity: 0.5;
    margin-right: 32px;
    white-space: nowrap;
}

.navHeader a:hover {
    color: rgb(87, 87, 87);
    opacity: 1;
}

header img {
    width: 151px;
    height: 40px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.headerNavLeft {
    margin: 28px 70px;
}

.headerNavRight {
    margin: 28px 70px;
}


.info_sell {
    text-align: center;
}

.info_sell h1{
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    text-shadow: -5px 5px 0px #FFFFFF;
    margin: 0 auto;
    margin-top: 117px;
    margin-bottom: 32px;
}

.info_sell p {
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 16px;
    color: #532C59;
    margin-bottom: 32px;
}


.info_sell button {
    width: 114px;
    height: 52px;
    background: #532C59;
    border-radius: 15px;
    color: #fff;
    margin-bottom: 83px;
}



















@media (max-width: 1050px) {
    


}