* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::before,
*::after {
    box-sizing: inherit;
}

html, body {
    font-size: 30px;
    font-family: sans-serif;
    height: 100%;
}

body {
    background: rgb(19, 20, 34);
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-font-smoothing: antialiased;  
    -webkit-tap-highlight-color: transparent;
}

input {
    border: none;
    outline: none;
}

input:focus {
    outline: none;
}

button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}



.calculator {
    background: rgb(57, 73, 96);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .75rem;
    width: 500px;
    border: 1px solid #333;
    padding: .75rem;
    border-radius: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.screen {
    grid-column: 1 / 5;
    border-radius: .75rem;
    font-size: 2rem;
    height: 6rem;
    color: rgb(220, 220, 220);
    background: rgb(50, 60, 73);
    text-align: end;
    padding: .5rem;
}

::placeholder {
    color: #ffffff;
}

.symbol,
.number {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    aspect-ratio: 1;
    font-size: 1.25rem;
    color: rgb(255, 255, 255);
    transition: .15s ease;
    border-radius: 50%;
}

.symbol {
    background: rgb(110, 133, 160);
}

.symbol:hover {
    background: rgb(47, 112, 217);
}


.number:hover {
    background: rgb(69, 89, 117);
}