body, 
* {
    padding: 0;
    margin: 0;
}

header {
    position: relative;
    height: 466px;
    margin-bottom: 40px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    margin-top: 24px;
}

.header__info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.header__title {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    color: #FFFFFF;
}

.header__title span {
    color: #FF5C00;
}

.header__subtitle {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}


.header__subtitle span {
    font-weight: 700;
}

.elipse {
    border-radius: 50%;
    position: absolute;
    width: 2880px;
    height: 2880px;
    left: -479px;
    top: -2350px;
    background: #FFAB08;
    z-index: -1;
}


.categories {
    background: #ebebeb;
}

.categories__holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 126px;
    height: 40px;
    background: #ffffff;
    border-radius: 50px;
    margin-right: 24px;
}

.category:last-child {
    margin-right: 0;
}

.category:hover {
    background: #FFAB08;
}

.category__img {
    margin-right: 8px;
}


.category__title a {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    color: #000000;
}